@font-face {
    font-family: poppins;
    src: url("/Font/poppins-extrabold.otf");
}

#OuterPanel {
    -fx-font-family: "Poppins ExtraBold";
    -fx-background-image: url("/Assets/BG2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}
#innerPanel {
    -fx-background-radius: 10;

}

#Label {
    -fx-text-fill: #1e1e1e;
}

.handleButton {
    -fx-text-fill: #ebd5b5;
    -fx-background-radius: 7;
    -fx-background-color: #e85c2c;
    -fx-effect: dropshadow(one-pass-box, #1e1e1e, 0, 0, 3, 5);
}

#handleButtonField {
    
    -fx-text-fill: #ebd5b5;
    -fx-background-radius: 7;
    -fx-background-color: #e85c2c;
    -fx-effect: dropshadow(gaussian, #1e1e1e, 0, 0, 3, 5);
}


#textField {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 7;
    -fx-effect: dropshadow(gaussian, #000000, 0, 0, 3, 6);
    -fx-text-fill: #e85c2c;
    -fx-prompt-text-fill: #e85c2c;
    
}

.handleButton:hover {
    -fx-background-color: #ff6631;
    -fx-text-fill: #ddc9ab;
}

#handleButtonField:hover {
    -fx-background-color: #ff6631;
    -fx-text-fill: #ddc9ab;
}